﻿@using Znode.Engine.WebStore.ViewModels

@model CategoryHeaderListViewModel

<ul class="nav navbar-nav" style="height:20px;">
    <li class="nav-home"><a href="/" title="Home"><i class="zf-home"></i></a></li>
    @{
        foreach (var category in Model.Categories)
        {
            <li class="dropdown  yamm-fw">
                <a href="@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)"><i class="zf-caret-right"></i> @WebUtility.HtmlDecode(category.CategoryName)</a>
                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                {
                    <ul class="dropdown-menu list-unstyled fadeInUp animated">
                        @Html.Partial("_HeaderSubNav", category.SubCategoryItems)
                    </ul>
                }
            </li>
        }

        if (Model?.BrandList?.Count > 0)
        {
            <li class="dropdown  yamm-fw">
                <a href="/Brand/List"><i class="zf-caret-right"></i> @WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)</a>

                <ul class="dropdown-menu list-unstyled fadeInUp animated">
                    @foreach (var brand in Model.BrandList)
                    {
                        <li>                            
                            <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null,brand.BrandId)"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(brand.BrandName)</a>
                        </li>
                    }
                    <li class="view-all">
                        <a href="/Brand/List"><i class="zf-arrow-right-small"></i>@WebStore_Resources.LabelViewAllBrands</a>
                    </li>
                </ul>

            </li>
        }
    }
</ul>
