﻿@{
    ViewBag.Title = WebStore_Resources.TitleUserFeedback;
}
<div id="layout-customerfeedback" class="container-narrow main-wrapper">
    <div class="container">
        <div class="row">
            <p class="alert alert-success text-center">@WebStore_Resources.CustomerFeedbackConfirmationIntroText</p>
        </div>
    </div>
</div>

