﻿@import "_base.scss";

#layout-category .category-landing-container .products-modes-setting h1{display:none;}
.category-landing-container{padding-right:0;}

.narrow-results-pane{margin-top:14px;}

.search-result{font-size:20px;float:left;
    b{color:$base-color-primary;}
}
// Media Query
@include screensize(x-small) {    
    .category-recent-view-list{padding:0 5px;
        .product-list-widget{padding:0;}
    }
    .category-landing-container{padding-right:5px;padding-left:5px;}    
}
@include screensize(small) {        
    .category-landing-container{padding-right:0;padding-left:15px;}
    .narrow-results-pane{display:block;}
    .category-recent-view-list{padding:0;}
}
