﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

<div id="divShoppingCart">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding shopping-cart">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
                    </div>
                    @if (Model?.ShoppingCartItems?.Any() ?? false)
                    {
                        <div class="col-xs-12 cart-total-title nopadding">
                            <h2>@WebStore_Resources.TextYourTotal <strong id="dynamic-cart-order-total">@Helper.FormatPriceWithCurrency(Model.Total, Model.CurrencyCode)</strong> <span>for @Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount()) items</span></h2>
                        </div>

                        <div class="col-xs-12 table-responsive cart-products nopadding">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@WebStore_Resources.LabelItem</th>
                                        <th>@WebStore_Resources.ColumnTitleItemPrice</th>
                                        <th>@WebStore_Resources.ColumnTitleQuantity</th>
                                        <th>@WebStore_Resources.ColumnTitleTotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*To show the recently added product on the top of cart.*@
                                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                                    {
                                        @Html.Partial("_CartRow", cartItem)
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 cart-summary nopadding">
                            <div class="col-xs-12 col-sm-6 nopadding">
                                @using (Html.BeginForm("RemoveAllCartItem", "Cart", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="#" class="cart-item-remove-all" onclick="javascript:$($(this).closest('form').submit());"><i class="zf-close"></i>Remove All Cart Items</a>
                                }
                                @Html.Partial("../_ApplyCoupon", Model)                            
                                <div class="col-xs-12 nopadding">
                                   @Html.Partial("../_ShippingEstimator")
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 nopadding">
                                <div class="col-xs-12 nopadding cart-total">
                                    @Html.Partial("../_TotalTable", Model)
                                </div>
                            </div>
                        </div>                        
                        <div class="col-xs-12 cart-btn nopadding">
                            <div class="pull-right margin-top-bottom">
                                <a href="/" class="btn-text-icon grey"><i class="zf-checkout"></i> @WebStore_Resources.ButtonContinueShopping</a>
                                <a href="/Checkout/Index" class="btn-text-icon red" id="checkOut-link"><i class="zf-checkout"></i> @WebStore_Resources.ButtonCheckout</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding cart-summary">
                            <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>   
</div>
