﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }

    string defaultPrdImg = Model.ImageLargePath;
    string defaultorgImg = Model.ImageLargePath;
    //int indexnew = Model.ImageLargePath.LastIndexOf('/');
    string ProductorgImage = ""; //Model.ImageLargePath.Substring(indexnew + 1);
                                 //defaultPrdImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
    string SeletedColor = Attributes.ValueFromSelectValue(Model?.Attributes, "Color");

    string PDPVideoURL = "";
    PDPVideoURL = Model.Attributes?.Value("VideoURL");

    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("VideoURL");
    }
    string ImageSmallPath = Model.ImageSmallPath.Substring(0, Model.ImageSmallPath.LastIndexOf('/'));
    //defaultorgImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
    if (Model.AlternateImages.Where(x => x.FileName == "IsDefaultImage").Count() > 0)
    {
        ProductorgImage = Model.AlternateImages.Where(x => x.FileName == "IsDefaultImage")?.FirstOrDefault().ImageLargePath;
        //indexnew = ProductorgImage.LastIndexOf('/');
        //ProductorgImage = ProductorgImage.Substring(indexnew + 1);
        //defaultPrdImg = Model.AlternateImages.Where(x => x.ImageThumbNailPath == "IsDefaultImage")?.FirstOrDefault().ImageLargePath;
        //defaultorgImg = Model.AlternateImages.Where(x => x.ImageThumbNailPath == "IsDefaultImage")?.FirstOrDefault().OriginalImagePath
        //defaultPrdImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
        //defaultorgImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;

        defaultPrdImg = ProductorgImage;
        defaultorgImg = ProductorgImage;
    }
}

<div class="col-xs-12 nopadding simpleLens-gallery-container">
    <div class="col-lg-2 col-md-12 col-sm-2 col-xs-12 item nopadding order2" id="slider-thumbs" style="overflow:auto;">
        <div class="col-xs-12 nopadding product-altimages">
            @*@if (isLiteVersion)
                {
                    @Ajax.Partial("AlternateImages", "AlternateProductImages", "RSProduct", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
                }
                else
                {*@
            <div class="owl-carousel owl-theme hidden-lg hidden-md visible-xs">
                @foreach (var galimg in Model.AlternateImages.OrderBy(x => x.ImageThumbNailPath))
                {
                    int index = 0;
                    index = galimg.ImageLargePath.LastIndexOf('/');
                    string ProductImage = galimg.ImageLargePath.Substring(index + 1);//
                    string imagePath = ImageSmallPath + "/" + ProductImage;// PortalAgent.CurrentPortal.MediaServerUrl +
                    if (galimg.FileName == "videoThumb")
                    {

                        <div class="item">
                            <a href="#myModal" class="thumbnail video" data-target="#videoModal" data-toggle="modal" data-video="@galimg.ImageLargePath">

                                @*<img src="@imagePath" class="img-responsive" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor" />*@
                                <img src="@imagePath" class="img-responsive" alt="@galimg.ImageSmallPath" title="@galimg.ImageSmallPath" />


                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="item" id="image-1"><a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath data-src=@galimg.ImageLargePath class="img-responsive thumbnail fixedbottomimg" alt="@galimg.ImageSmallPath" title="@galimg.ImageSmallPath"></a></div>
                    }
                }

            </div>

            <div id="alt-images" class="owl-carousel owl-theme hidden-xs owl-width">
                <!-- Vertical slider -->
                <ul class="hide-bullets tab-ul" id="img-repo">

                    @foreach (var galimg in Model.AlternateImages.OrderBy(x => x.ImageThumbNailPath))
                    {
                        int index = 0;
                        index = galimg.ImageLargePath.LastIndexOf('/');
                        string ProductImage = galimg.ImageLargePath.Substring(index + 1);//
                        string imagePath = ImageSmallPath + "/" + ProductImage;// PortalAgent.CurrentPortal.MediaServerUrl +
                        if (galimg.FileName == "videoThumb")
                        {

                        }
                        else
                        {
                            <li class="item" id="image-1">
                                @*<a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor"></a>*@
                                <a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="#"><img src=@imagePath data-src=@galimg.ImageLargePath class="img-responsive thumbnail fixedbottomimg" alt="@galimg.ImageSmallPath" title="@galimg.ImageSmallPath"></a>
                            </li>
                        }
                    }

                    <!-- Code by Nivi for VideoURL-->
                    @if (PDPVideoURL != null)
                    {
                        <li class="col-xs-12 nopadding margin-bottom">
                            <a href="#myModal" class="thumbnail video" data-target="#videoModal" data-toggle="modal" data-video="@PDPVideoURL">
                                <img src="~/Views/Themes/RogansShoes/Images/videoicon.jpg" />
                            </a>
                        </li>
                    }

                    <li class="col-xs-12 nopadding margin-bottom">
                        <img src="~/Views/Themes/RogansShoes/Images/videoicon.jpg" />
                    </li>

                </ul>
            </div>


        </div>
    </div>
    <div class="col-sm-10 col-lg-10 col-md-12 col-xs-12 image-view nopadding-right hidden-xs order1">
        <div class="col-xs-12 nopadding" id="slider">
            <!-- Right side slider -->
            <div>
                <div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <div class="active item" id="ImageZoom" data-slide-number="0">
                            <div class="simpleLens-container">
                                @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                                {
                                    @*<img src="~/Views/Themes/RogansShoes/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />*@
                                }
                                <div class="simpleLens-big-image-container image-view">
                                    <div class=" ex1 abc" id="image-1">
                                        <a id="product-lens-image" href="@defaultorgImg" class="easyzoom-img">
                                            <img id="product-image" src="@defaultPrdImg" data-src="@defaultPrdImg" class="imgfixed b-lazy" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 nopadding-potrait nopadding-mobile margin-bottom hidden-xs">
    <div class="Socail-Icon">
        <!-- AddThis font awesome icons,Email,Wishlist,Print BEGIN -->
        <div class="col-xs-12 nopadding margin-bottom">
            @Html.RenderMessage("SocialMediaIcons")
            @Html.Partial("_AddToWishList", Model)
            @*//Nivi Comment//@Html.Partial("_AddToWishList", new ProductViewModel { PublishProductId = Model.PublishProductId, SKU = Model.SKU })*@
            <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
        </div>
        <!-- AddThis Button,Email,Wishlist,Print END -->
    </div>
</div>

<!--Show Video Modal-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 485px;">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Video</h4>
            </div>
            <div class="modal-body margin-top">
                <div class="col-xs-12 nopadding">
                    <div class="videomodal text-center">
                        <iframe width="100%" height="400" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Image Modal View*@
<div class="modal" id="modal-gallery" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close closeset" type="button" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                <div id="modal-carousel" class="carousel">
                    <div class="carousel-inner"></div>
                    <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"><img src="/Views/Themes/RogansShoes/Images/Leftarrow.png" alt="" class="img-responsive"></i></a>
                    <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"><img src="/Views/Themes/RogansShoes/Images/Rightarrow.png" alt="" class="img-responsive"></i></a>
                </div>
            </div>
            <div class="modal-footer hidden">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    //$(".Product_Altimages").owlCarousel({
    //    autoPlay: false,
    //    navigation: true,
    //    items: 4,
    //    itemsCustom: [
    //      [0, 1],
    //      [320, 4],
    //      [480, 4],
    //      [600, 4],
    //      [768, 6],
    //      [992, 5],
    //      [1200, 6]
    //    ],
    //    navigationText: [
    //      "<i class='zf-arrow-left-big'></i>",
    //      "<i class='zf-arrow-right-big'></i>"
    //    ]
    //});



    // A $( document ).ready() block.
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            navigation: true,
            navigationText: [
                "<i class='fa fa-arrow-left'></i>",
                "<i class='fa fa-arrow-right'></i>"
            ],
            itemsCustom: [
                [0, 1],
                [320, 1],
                [480, 1],
                [600, 1],
                [768, 6],
                [992, 5],
                [1200, 6]
            ],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    });


</script>

