﻿
@using Znode.Engine.WebStore.ViewModels

@model UserViewModel
<div id="layout-account-orderhistory" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.LabelAffiliateInformation</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding leftmenu">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">                  
                    @Html.Partial("_AffiliateInformation", Model.ReferralCommissionData)
                </div>
            </div>
        </div>
    </div>
</div>
