﻿@using Znode.Engine.WebStore.ViewModels
@model TemplateViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    Model.IsViewMode = false;
}
<div id="layout-template-cartItem" class="main-wrapper">
    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.LinkTextOrderTemplate</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding leftmenu">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 right-container">
                    @{
                        if (Model.OmsTemplateId < 1)
                        {

                            <h3 class="section-header">@WebStore_Resources.LabelAddTemplate</h3>
                        }
                        else
                        {
                            <h3 class="section-header">@WebStore_Resources.LabelEditTemplate</h3>
                        }
                    }

                    <div class="pull-right">
                        <!--Quick Order-->
                        @Html.Partial("_TemplateQuickOrder", new AutoComplete())
                    </div>
                    <div class="col-xs-12  nopadding">
                        @using (Html.BeginForm(actionName, "User", FormMethod.Post, new { role = "form", @id = "frmCreateEditTemplate" }))
                        {
                            <div class="col-xs-12 col-sm-7 col-md-6 nopadding" id="txtTemplateName">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(x => x.TemplateName, new { @class = "required" })
                                    @Html.TextBoxFor(x => x.TemplateName, new { data_val_required = @WebStore_Resources.ValidTemplateName })
                                    @Html.ValidationMessageFor(x => x.TemplateName, string.Empty, new { id = "validTemplateName" })
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.OmsTemplateId)
                        }

                        <div id="TemplateCartItem">
                            @Html.Partial("_CartTemplateRow", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#txtTemplateName").keypress(function (e) {
        //Prevent the form submission on enter.
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
</script>