﻿@model Znode.Engine.WebStore.ViewModels.WidgetSliderBannerViewModel
@using Znode.Engine.WebStore.Agents

<div class="banner-widget">
   
    <div id="advertisement-banner" class="owl-carousel AdvertisementBanner">
        @{
            int counter = 0;
            string mediaUri = PortalAgent.CurrentPortal.MediaServerUrl;
            if (!Equals(Model.SliderBanners, null))
            {
                foreach (var item in Model.SliderBanners)
                {
                    string mediaPath = $"{mediaUri}{item.MediaPath}";
                    string _active = counter == 0 ? "item active" : "item";
                    <div class="item @_active">
                        <a href="@item.ButtonLink" target="_blank">
                            <img src="@mediaPath" alt="@item.ImageAlternateText" class="img-responsive" />
                        </a>
                    </div>
                    counter++;
                }
            }
        }
    </div>
</div>

<script>
    $(window).on("load",function () {
        $(document).ready(function () {
            if(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoPlay).ToLower())) == "true"){                
                $(".AdvertisementBanner").owlCarousel({
                    autoPlay: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AutoplayTimeOut)),
                    stopOnHover: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Convert.ToString(Model.AutoplayHoverPause).ToLower())),
                    items: 3,
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [600, 2],
                      [768, 2],
                      [992, 3],
                      [1200, 3]
                    ]
                });
            }else{
                $(".AdvertisementBanner").owlCarousel({
                    autoPlay: false,
                    stopOnHover: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Convert.ToString(Model.AutoplayHoverPause).ToLower())),
                    items: 3,
                    itemsCustom: [
                      [0, 1],
                      [320, 1],
                      [600, 2],
                      [768, 2],
                      [992, 3],
                      [1200, 3]
                    ]
                });
            }
        });
    });   
</script>
