﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.Agents
@model StoreLocatorViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
    ViewBag.Title = "Store Locator | Rogan’s Shoes";
    ViewBag.Description = "Find Rogan’s Shoes store locations";
    string ipAddress = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ipAddress))
    {
        ipAddress = Request.ServerVariables["REMOTE_ADDR"];
    }
    ViewBag.IPAddress = ipAddress;
    string res = "https://ipinfo.io/" + ipAddress + "/json";
    
}
<input type="hidden" id="hdnIPAddress" value="@res" />
<div id="message" style="display:none;">
    @Html.RenderMessage("StoreLocatoreTiming")
</div>
<div class="main-wrapper">
    <div class="container ContainerSection">
        <div class="contain-pages StoreLocator">
            <div class="col-xs-12 nopadding">
                <div>
                    <div class="PageTitle">
                        <span style="display: inline-flex;">@Html.RenderMessage("TitleStoreLocator")<span class="fa fa-map-marker"></span></span>  <br />
                    </div>
                </div>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="Form col-xs-12 col-sm-8 col-lg-12 nopadding">
                        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                            <div class="col-lg-12 nopadding">
                                <input type="text" id="txtzipcitystate" required="required" title="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" />
                                <label for="txtzipcitystate" alt="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode" placeholder="@WebStore_Resources.LabelCity, @WebStore_Resources.LabelState, @WebStore_Resources.LabelPostalZipCode"></label>
                                <label id="error" class="text-danger"></label>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.PostalCode)

                        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 padding-top-10">
                            <div class="FieldStyle LeftContent">
                                <button id="btnSubmit" title="@WebStore_Resources.ButtonSubmit" type="button" value="submit" class="btn btn-primary" onclick="GetLatLng();" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                            </div>
                            <div class="FieldStyle">
                                <p class="marginall">- OR -</p>
                            </div>
                            <div class="FieldStyle">
                                <button title="@WebStore_Resources.ButtonUseMyCurrentLocation" type="button" class="btn btn-primary" onclick="GetLocation('storelocator')"><i class="fa fa-map-marker set-marker"></i> @WebStore_Resources.ButtonUseMyCurrentLocation</button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xs-12">
                            <label id="responseerror" class="text-danger"></label>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div id="address"></div>
                    </div>
                </div>
                @Html.Hidden("ImagePathURL", imagePath);
                <div class="col-xs-12 nopadding store-locator-block margin-top margin-bottom">
                    @if (!Equals(Model, null) && !Equals(Model.PortalList, null) && Model.PortalList.Count > 0)
                    {
                        <div class="col-xs-12 nopadding">
                            <div id="layout-content">
                                <div class="col-xs-12 margin-top-bottom nopadding table-responsive store-locator-view">
                                    <h3>Store Locator Details &nbsp;<small>@Html.RenderMessage("StoreLocatorTime") </small></h3>
                                    <div id="storedetails" class="col-lg-12 col-xs-12 col-ms-12 col-sm-12 nopadding margin-top">
                                        @{var a = @Html.RenderMessage("StoreLocatorText").ToString().Replace("below", "");
                                        }
                                        <h1>@a</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 error-msg">
                    @Html.Label("", Model.ErrorMessage)
                </div>
            }
        </div>
    </div>
</div>
@Html.Hidden("apiURL", ZnodeAdminSettings.ZnodeApiRootUri)
@Html.Hidden("WebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
<!--Keys to be fetched from config file-->
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&callback=initMap" type="text/javascript"></script>

<script src="~/Views/Themes/RogansShoes/Scripts/lib/PickUpInStore.js"></script>
<script>
    $("#txtzipcitystate").keypress(function (t) { "13" == (t.keyCode ? t.keyCode : t.which) && (t.preventDefault(), $("#btnSubmit").click()), t.stopPropagation() });
</script>


