﻿@using Znode.Engine.WebStore.ViewModels
@using ZNode.Libraries.ECommerce.Utilities
@model ProductViewModel
@*ToDo*@
@{
    string mediaPath = MediaPaths.MediaThumbNailPath;
    string fileName = Model.Attributes?.Value("Image");
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode);
}

<div class="view-item">
    <div class="product-img">
        @if (Model.EnableProductCompare)
        { <div class="compare-link">
            <a href="#" class="button-compare" onclick="Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink"><i class="zf-random"></i></a>
        </div>
        }

        @*<a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">*@

        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
            @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
            {
                <img src="~/Views/Themes/Default/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
            }
            <div class="image">
                @{
                    string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                }
                <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />
            </div>
        </a>

        <button onclick="Product.prototype.GetProductDetails(this)" class="btn-card btn-quick-view grey hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>
    </div>
    @*@if (Model.SwatchImages != null && Model.SwatchImages.Any())
        {
            <div class="swatch-img-container">
                <ul id="alt-images" class="swatch-img">
                    @foreach (var image in Model.SwatchImages)
                    {
                        <li>
                            <img src="@image.ImageSmallThumbnailPath" class="SwatchImage img-responsive" alt="@image.ImageAltTag" data-imgid="@Model.ProductId" title="@image.ImageAltTag" data-mediumsrc="@image.ImageMediumPath" />
                        </li>
                    }
                </ul>
            </div>
        }*@
    <div class="product-details">
        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())">
            <h4 class="title">@WebUtility.HtmlDecode(Model.Name)</h4>
        </a>
        <div class="product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            (@Model.TotalReviews) <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
        </div>
        @if (CallForPricing)
        {
            <div class="price"><label>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</label></div>
        }
        else
        {
            <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                @if (!Helper.IsAsyncPrice)
                {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                        <label>@Model.GroupProductPriceMessage</label>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <span>
                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode)
                            </span>
                            if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                            {
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <label>
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode)
                                </label>
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)
                                </span>
                            }
                            else
                            {
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)
                            }
                        }
                    }

                }
                else
                {
                    <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                }

            </div>
            if (!string.IsNullOrEmpty(disable))
            {
                <div class="item-error-msg">
                    <p class="error-msg">@Model.InventoryMessage</p>
                </div>
            }
        }
        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())">View More Details</a>

    </div>

</div>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>