﻿@model List<Znode.Engine.WebStore.ViewModels.ProductReviewViewModel>

<div id="layout-allreviews" class="main-wrapper">
    <div class="container">
        <div class="row all-reviews">
            <div class="col-xs-12 nopadding page-title">
                <h1 class="location-title">@WebStore_Resources.TextCustomerReviews</h1>
            </div>
            <div class="col-xs-12 nopadding margin-top-bottom">
                <div class="col-xs-12 nopadding">
                    <h3 class="review-productname pull-left margin-bottom">@Html.Raw(Model?.FirstOrDefault().ProductName)</h3>
                    <div class="pull-right">
                        <a href="@Url.GetProductUrl(Model.FirstOrDefault().SEOUrl, Convert.ToString(Model.FirstOrDefault().PublishProductId))" class="btn-text red">@WebStore_Resources.SubTitleProductReview</a>
                        @Html.ActionLink(WebStore_Resources.LinkTextWriteReview, "Writereview", "Product", new { id = @Model.FirstOrDefault().PublishProductId, name = @Model.FirstOrDefault().ProductName }, new { @class = "btn-text red" })
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    @Html.Partial("_ReviewRow", item)
                }
            </div>
        </div>
    </div>
</div>
