﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@model ProductFeedViewModel
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities;

@{
    var isFirstDateChecked = true;
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront; ;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string FormId = "frmProductFeed";
    string CancelUrl = "/ProductFeed/List";
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmProductFeed", CancelUrl = "/ProductFeed/List" };
    Model.ProductFeedSiteMapTypeCode = string.Equals(actionName.ToLower(), "createproductfeed") ? Model.XMLSiteMapTypeList?[0].Value : Model.ProductFeedSiteMapTypeCode;
    Model.ProductFeedTimeStampName = string.Equals(actionName.ToLower(), "createproductfeed") ? Model.LastModificationList?[0].Value : Model.ProductFeedTimeStampName;
    PrimaryPageActionModel primaryPageAction = new PrimaryPageActionModel();
    primaryPageAction.PageActions.Add(new PageAction { Action = actionName, Controller = controllerName, ControlId = "dvSave", LinkType = LinkType.AuthorizedPrototypeRawActionLink, LinkDisplayName = @Admin_Resources.ButtonSave,DataTestSelector="linkSave", OnClick = "SaveCancel.prototype.SubmitForm('" + @FormId + "'" + ",'ProductFeed.prototype.SetPortals')" });
}
<div class="col-sm-12 title-container">
    @if (string.Equals(actionName.ToLower(), "createproductfeed"))
    {
        <h1 data-test-selector="hdgProductFeed">@string.Format(@Admin_Resources.TitleAdd, Admin_Resources.LabelProductFeed)</h1>
    }
    else
    {
        <h1 data-test-selector="hdgProductFeed">@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.LabelProductFeed)<i class="z-minus"></i><span>@Model.FileName</span></h1>
    }
    <div class="pull-right btn-container">
        <a id="btnCancelForProduct" href=@CancelUrl class="btn-text-icon" data-test-selector="linkCancel"><i class='z-back'></i>@Admin_Resources.ButtonCancel</a>
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/Controls/_PrimaryPageAction.cshtml", primaryPageAction)
        </div>
    </div>
</div>

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmProductFeed" }))
{
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        <h3 class="section-heading" data-test-selector="hdgGeneralInformation">@Admin_Resources.HeaderGeneralInformation</h3>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label data-test-selector="lblLocaleId">@Admin_Resources.LabelLocaleId</label>
                </div>
                <div class="control-md">
                    @Html.DropDownListFor(model => model.LocaleId, new SelectList(Model.Locale, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" }, @data_test_selector = "drpLocaleId" })
                    @Html.ValidationMessageFor(model => model.LocaleId, "", new { @data_test_selector = "valLocaleId" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(model => model.LastModification, new { @data_test_selector = "valLastModification" })
                </div>
                <div class="control-md">
                    <div id="modifieddate-content" data-test-selector="divLastModification">
                        @foreach (var ld in Model.LastModificationList)
                        {
                            <div>
                                <label>
                                    <input type="radio" id="chkLastModifiedDate" data-test-selector="chk@(ld.Text.Replace(" ", ""))" name="ProductFeedTimeStampName" value="@ld.Text" @(Model.ProductFeedTimeStampName == ld.Value ? "checked=checked" : "") onclick="ProductFeed.prototype.DisplayCustomDate(this)" />
                                    <span class="lbl padding-8" data-test-selector="lbl@(ld.Text.Replace(" ", ""))">@ld.Text</span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="display:none" id="CustomDate-content">
            <div class="col-sm-12 nopadding">
                <div class="control-sm control-non">
                    <div class="right-inner-icon">
                        @Html.TextBoxFor(model => model.DBDate, new { @id = "DBDate", @data_test_selector = "txtDBDate", @class = "datepicker", @data_date_format = HelperMethods.GetDateFormat() })
                        <i class="z-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </div>
                </div>
                <div class="control-sm padding-left">
                    <div class="right-inner-icon">
                        @Html.TextBoxFor(model => model.DBTime, new { @id = "DBTime", @data_test_selector = "txtDBTime", @class = "timepicker", style = "cursor:pointer" })
                        <i class="z-time-picker" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(model => model.Priority, new { @data_test_selector = "lblPriority" })
                </div>
                <div class="control-md">
                    @Html.DropDownListFor(model => model.ProductFeedPriority, new SelectList(Model.PriorityList, "Value", "Text"), new { @data_test_selector = "drpPriority" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label data-test-selector="lblTypeXMLSiteMap">@Admin_Resources.LabelTypeXMLSiteMap</label>
                </div>
                <div class="control-md">
                    @Html.DropDownListFor(model => model.ProductFeedTypeCode, new SelectList(Model.XMLSiteMapList, "Value", "Text"), new { @id = "ddlXMLSiteMap", @data_test_selector = "drpTypeXMLSiteMap", @onchange = "ProductFeed.prototype.DisplayXMLSiteMapType(); return false;" })
                </div>
            </div>
        </div>
        <div class="form-group" id="rdbXMLSiteMapType">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(model => model.XMLSiteMapType, new { @data_test_selector = "lblXMLSiteMapType" })
                </div>
                <div class="control-md">
                    @foreach (var item in Model.XMLSiteMapTypeList)
                    {
                        <div class="col-sm-3 nopadding">
                            <label>
                                <input type="radio" name="ProductFeedSiteMapTypeCode" data-test-selector="chk@(item.Value.Replace(" ", ""))" value="@item.Value" @(Model.ProductFeedSiteMapTypeCode == item.Value ? "checked=checked" : "") />
                                <span class="lbl padding-8" data-test-selector="lbl@(item.Value.Replace(" ", ""))">@item.Text</span>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="GoogleFeedFields" style="display:none">
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Title, new { @data_test_selector = "lblTitle" })
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(model => model.Title, new { @data_test_selector = "txtTitle" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @data_test_selector = "valTitle" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Link, new { @data_test_selector = "lblLink" })
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(model => model.Link, new { @data_test_selector = "txtLink" })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @data_test_selector = "valLink" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Description, new { @data_test_selector = "lblDescription" })
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(model => model.Description, new { @data_test_selector = "txtDescription" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @data_test_selector = "valDescription" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.LabelFor(model => model.FileName, new { @class = "required", @data_test_selector = "lblFileName" })
                    <span class="sub" data-test-selector="spnFileName">@Admin_Resources.TextXMLFileName</span>
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(model => model.FileName, new { @data_test_selector = "txtFileName" })
                    @Html.ValidationMessageFor(model => model.FileName, "", new { @data_test_selector = "valFileName" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    @Html.Label(Admin_Resources.LabelStores, new { @class = "required", @data_test_selector = "lblStores" })
                </div>
                <div class="control-md" data-test-selector="divStores">
                    @{
                        int? totalCount = Model.StoreList?.StoreList?.Count;
                        if (totalCount.Value > 1)
                        {
                            <div class="chkAllStores">
                                <label>
                                    <input data-test-selector="chk@(Admin_Resources.DefaultAllStores.Replace(" ", ""))" id="@Admin_Resources.DefaultAllStores" name="PortalId" value="0" type="checkbox" onchange="ProductFeed.prototype.ShowHideStoreList(this);">
                                    <span class="lbl padding-8">@Admin_Resources.DefaultAllStores</span>
                                </label>
                            </div>
                        }
                        <div class="chkStoresList">
                            @Html.FastSelectFor(model => model.PortalIds, model => model.PortalIds, "GetSuggestions", "Typeahead", "", 1, true,
                                                                   new
                                                                   {
                                                                       htmlAttributes = new { @placeholder = Admin_Resources.LabelSelectStore, @class = "", @id = "txtPortalName", @data_test_selector = "txtStoreName" },
                                                                       parameters = new { @type = ZnodeTypeAheadEnum.StoreList.ToString() }
                                                                   }, true)
                        </div>
                        <span id="StoreName-error" data-test-selector="valStoreName"></span>
                    }

                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.ProductFeedId)
        @Html.HiddenFor(model=>model.Stores)        
    </section>
}
<script src="~/Content/bootstrap-3.3.7/js/moment-with-locales.js"></script>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $(function () {
        $('#DBTime').datetimepicker({
            format: 'LT'
        });
    });
    $(document).ready(function () {
        if ('@actionName.ToLower()' == 'edit')            
            ProductFeed.prototype.CheckPortalCheckBoxByIds('@Model.Stores','@Model.ProductFeedTimeStampName');
    });
</script>