﻿@using Znode.Engine.WebStore.ViewModels
@model StoreLocatorViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TitleStoreLocator</h1>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 col-sm-7 col-lg-6 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.PostalCode)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.PostalCode, new { @maxLength = 6 })
                            @Html.ValidationMessageFor(model => model.PostalCode)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.Radius)                           
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.DropDownListFor(model => model.Radius, Model.RadiusList)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.CityName)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.CityName)
                            @Html.ValidationMessageFor(model => model.CityName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.StateName)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.StateName)
                            @Html.ValidationMessageFor(model => model.StateName)
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button id="btnSubmit" title="Submit" type="submit" value="submit" class="btn-text red">@WebStore_Resources.ButtonSubmit</button>
                            @Html.ActionLink(WebStore_Resources.ButtonCancel, "Index", controllerName, new { @class = "btn-text grey" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    @if (!Equals(Model, null) && !Equals(Model.PortalList, null) && Model.PortalList.Count > 0)
                    {
                        @Html.Partial("_PortalList", Model.PortalList)
                    }
                </div>
                <div class="col-xs-12 nopadding error-msg">
                    @Html.Label("", Model.ErrorMessage)
                </div>
            }
        </div>
    </div>
</div>