﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model OrdersListViewModel

<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-orderhistory" class="main-wrapper">
        <div class="container">
            <div class="row user-account">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderHistory</h1>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">                        
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search nopadding">
                                <h3 class="section-header">@WebStore_Resources.LableOrderList</h3>
                                <div class="col-xs-12 margin-bottom nopadding">
                                    <div class="pull-right">
                                        @using (Html.BeginForm("DownloadPDF", "User", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" id="orderIds" name="orderIds" />
                                            <div id="divInvoice">
                                                <button type="submit" id="btnGenerateInvoice" class="btn-text red" @((Model.List.Count > 0) ? "" : "disabled")><i class='z-download'></i>@WebStore_Resources.ButtonGenerateInvoice</button>
                                            </div>
                                        }
                                     </div>
                                </div>
                                <div class="col-xs-12 filter-component">
                                    @using (Ajax.BeginForm("History", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                </div>
                                                            
                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-manage").attr('title', "Reorder");
    $(document).ready(function () {
        User.prototype.GenerateInvoice();
        User.prototype.HideGridColumnForPODocument();
    });    
</script>